

/* #Links
================================================== */

a { cursor: pointer; }
.nav a {
	text-decoration: none;
	padding-top: 15px;
	display: block;
	color:#aaa;
	text-transform: uppercase;
	font-size:14px;
	cursor:pointer;
}
.nav a:hover {
	color:#fff;
}

a.want, a.wanted { position:absolute; top: 20px; right: 20px; width: 34px; height: 34px; border-radius: 3px; border-style: solid; border-width:1px; border-color:#ccc; background-color: #fff; background-position: center center; background-repeat: no-repeat; text-decoration:none;}
a.wanted { background-image: url(../images/icon-wanted.png); }
a.want { background-image: url(../images/icon-want-18x14.png); }
.tabs a.offers {display:block; border-width: 0 1px; border-style: solid; border-color: #aaa; padding: 10px 0;}
.tabs a.wants { display:block; border-right: 1px solid #aaa; padding: 10px 0; }
.polaroid a.location, .polaroid a.wants { position: absolute; z-index:2; right: 0; top: 0; padding:20px 5px 0 5px; font-size: 0.7em; text-decoration: none; background-position: center top; background-repeat: no-repeat; }
.polaroid a.location { background-image: url(../images/icon-location.png); }
.polaroid a.wants { background-image: url(../images/icon-want-18x14.png); }

/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	position: relative; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 1.5em; margin: 0 0 -10px 0; padding:6px 0 0 0; font-weight:bold;}
h2 { font-size: 0.8em; margin-bottom: 10px; }
h3 { font-size: 1.2em; margin: 0; font-weight: bold; }
h4 { font-size: 0.9em; font-weight: bold; margin: 0; color: #777; }
h4 em { font-weight: normal; }
h5 { position:absolute; top:0; right:0; font-size: 17px; line-height: 24px; text-align: center; margin:0;}
h6 { font-size: 14px; line-height: 21px; text-align: center; margin:0;}
p { margin: 10px;}



/* #Forms
================================================== */

.button { padding: 10px; background: #fff; border: 1px solid #ccc; border-radius: 3px; text-align: center; font-weight: bold; font-family: "Helvetica", Arial, sans-serif; text-transform: uppercase; margin: 0 0 20px 0; display: block;}
input[type=text] { border-style: solid; border-width: 0 0 1px 0; border-color: #333; width: 100%; padding: 10px 0; background: rgb(241, 241, 241);margin-bottom: 20px;}
input[type=text]:focus { background: #fff;}
form { position: relative; }
form.search { width: 100%; }
form.search a.submit { position:absolute; top: 0; right:0; display: block; width: 40px; height: 100%; border-left: 1px solid #eee; background: url(../images/icon-search-15x15.png) center 12px no-repeat;}
textarea {width: 100%; margin: 0 0 20px 0;}
.hero .buttons a { padding: 10px 20px; border:1px solid #333;}

/* #Misc
================================================== */

.nav { position: relative; background-color: #000; height:50px; text-align: left; border-bottom: 1px solid #eee; margin:0; padding-left: 20px;}
.hero { position:relative; background-color:#e8e8e8; border-bottom: 1px solid #ccc; margin-bottom: 40px; height: 480px; text-align: center;}

.nav ul { position: absolute; top:0; right:0; height: 50px; margin: 0; padding: 0; list-style-type: none; }
.nav li { float: left; vertical-align:middle; padding:0 20px;}
